@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #fe724c;
  --primary-color-dark: #d6512c;
  --text-dark: #122b51;
  --text-light: #6b7d92;
  --extra-light: #f4f4f4;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  gap: 2rem;
  z-index: 9;
}

.nav__logo img {
  max-width: 120px;
}

.nav__btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__btns .btn {
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
}

.nav__btns .btn span:nth-child(2) {
  display: none;
}

.nav__btns .btn:nth-child(1) {
  color: var(--text-dark);
  background-color: var(--extra-light);
}

.nav__btns .btn:nth-child(1):hover {
  color: var(--white);
  background-color: var(--primary-color);
}

header {
  position: relative;
  isolation: isolate;
  display: grid;

  padding-top: 5rem;
}

header::before,
header::after {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 40rem;
  aspect-ratio: 1;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  border: 6rem solid var(--extra-light);
  border-radius: 100%;
  z-index: -1;
}

header::after {
  max-width: 80rem;
}

.header__img {
  overflow: hidden;
}

.header__content {
  padding: 1rem;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content .section__description {
  margin-bottom: 3rem;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__links img {
  max-width: 125px;
}

.workout__container {
  position: relative;
  z-index: 1;
  padding: 5rem 0;
  display: grid;
}

.workout__wrapper {
  overflow: hidden;
}

.workout__images {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;

  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.workout__images img {
  max-width: 350px;
  border-radius: 1rem;
}

.workout__content {
  padding: 2rem 1rem;
}

.story__container {
  display: grid;
  gap: 2rem;

  overflow: hidden;
}

.story__image img {
  max-width: 500px;
  margin-inline: auto;
}

.story__content .section__description {
  margin-bottom: 1rem;
}

.story__link {
  margin-top: 2rem;
  text-align: center;
}

.story__link a {
  font-weight: 500;
  color: var(--text-dark);
}

.story__link a:hover {
  color: var(--primary-color);
}

.feature__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.feature__grid li {
  display: flex;
  gap: 1rem;
}

.feature__grid span {
  display: inline-flex;
  justify-content: flex-end;
  width: 8rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  color: var(--extra-light);
}

.feature__grid h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-dark);
}

.feature__grid p {
  color: var(--text-light);
  line-height: 1.75rem;
}

.download__container {
  max-width: 1024px;
}

.download__container .section__description {
  max-width: 750px;
  margin-inline: auto;
}

.download__image {
  margin-top: 4rem;
}

.membership__container {
  background-color: var(--extra-light);
  display: grid;
}

.membership__image {
  height: 100%;
}

.membership__image img {
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

.membership__content {
  padding: 5rem 1rem;
}

.membership__content .section__description {
  font-weight: 500;
}

.membership__content .section__description span {
  font-size: 1.5rem;
  color: #ffc529;
}

.membership__btn {
  margin-top: 2rem;
  text-align: center;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 4rem 2rem;
}

.footer__logo img {
  max-width: 125px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.2rem;
  color: var(--text-light);
}

.footer__socials a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  color: var(--text-light);
  background-color: var(--extra-light);
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: relative;
    padding: 2rem 1rem;
    background-color: transparent;
  }

  .nav__btns .btn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }

  .nav__btns .btn span:nth-child(1) {
    display: none;
  }

  .nav__btns .btn span:nth-child(2) {
    display: block;
  }

  header {
    padding-top: 0;
    grid-template-columns:
      minmax(0, 1fr)
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, 1fr);
    align-items: center;
  }

  .header__img {
    grid-column: 2/3;
  }

  .header__content :is(h1, .section__description) {
    text-align: left;
  }

  .header__links {
    justify-content: flex-start;
  }

  .workout__container {
    grid-template-columns:
      minmax(0, 1fr)
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, 1fr);
    align-items: center;
  }

  .workout__wrapper {
    grid-row: 1/2;
    grid-column: 3/6;
  }

  .workout__content {
    grid-column: 2/3;
  }

  .workout__content :is(.section__header, .section__description) {
    text-align: left;
  }

  .story__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .story__content :is(.section__header, .section__description, .story__link) {
    text-align: left;
  }

  .feature__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;
  }

  .feature__grid li:nth-child(2),
  .feature__grid li:nth-child(4) {
    margin-top: 3rem;
  }

  .membership__container {
    grid-template-columns:
      minmax(0, 1fr)
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, 1fr);
    align-items: center;
  }

  .membership__image {
    grid-column: 1/3;
  }

  .membership__content
    :is(.section__header, .section__description, .membership__btn) {
    text-align: left;
  }

  .footer__container {
    flex-direction: row;
  }

  .footer__logo {
    flex: 1;
  }

  .footer__links {
    flex-direction: row;
  }

  .footer__socials {
    flex: 1;
    justify-content: flex-end;
  }
}

@media (width > 1024px) {
  .header__content h1 {
    font-size: 4.75rem;
    line-height: 5.5rem;
  }

  .feature__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 4rem;
  }

  .membership__content {
    padding: 5rem 2rem;
  }

  .footer__links {
    gap: 2rem;
  }
}
